# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Tensors (Excluding large binary payloads)
data/raw/*
data/processed/*
*.h5
*.npy
*.npz

# Model Weights & Large Checkpoints
checkpoints/*.pt
checkpoints/*.pth

# Environments & IDEs
venv/
env/
.vscode/
.idea/
.DS_Store
